
 
 .top{
     text-align: center;
     font-size: 50px;
     letter-spacing: .8rem;
     font-weight: 600;  
 }
.heading {
   width: 75%; 
   margin: auto; 
   text-align: left;
   padding: 10px;
}
h1.heading {
   padding: 70px 0 30px 10px;
   text-align: left;
   text-transform: uppercase;
   color: #000000;
   letter-spacing: 2px;
   font-weight: 500;
   font-size: 1.7rem;
}
.heading2 {
   font-size: 30px;
   width: 75%; 
   font-size: 2.3rem;
   color: #1c1d20;
   line-height: 45px;
   margin: auto;
   padding-bottom: 30px;
}
.heading3 {
   text-align: center;
   color: #000000;
   letter-spacing: 1px;
   font-size: 1.3rem;
   padding-top: 80px;
   margin-bottom: 10px;
}

p.heading.p__color {
   font-size: 22px;
   font-weight: 100;
   line-height: 1.5;
}

.service__box {
   border-radius: 6%;
   width: 75%;
   background-color: #F4F0F1;
   padding: 55px;
   transition: .4s ease;
   display: flex;
   flex-wrap: wrap;
   transition: all 0.5s ease-in-out;
}

.service__box:hover {
   transform : translateX(-15px) translateY(-15px);
   -webkit-box-shadow: 12px 20px 13px -9px rgb(158 158 158);
   -moz-box-shadow: 12px 20px 13px -9px rgb(158 158 158);
   box-shadow: 12px 20px 13px -9px rgb(158 158 158);

}



.icon {
   font-size: 40px;
   font-weight: 400;
   margin-bottom: 10px;
   display: inline-flex;
   color: #5ac0d5;
}

p.service__text.p__color {
   margin-bottom: 0;
   font-size: 18px;
}

h1.service__text {
   font-size: 19px;
   font-family: Poppins, sans-serif;
   padding: 10px 0px;
}

.row {
   display: flex;
   height: 100%;
   overflow: hidden;
   align-items: flex-start;
   justify-content: center;
}

.col__2{
   max-width: 50%;
   display: flex;
   padding: 10px;
   justify-content: center;
   flex-direction: row;
}
.col__3 {
   max-width: 290px;
   display: flex;
   padding: 50px;
   justify-content: center;
   flex-direction: column;
   margin-top: 20px;
}
.component__space {
   padding: 40px 10px ;
}

.container {
   width: 90%;
   margin: auto ;
} 
 
.white {
    color: #fff !important;
}

.d__flex {
   display: flex;
}

@media only screen and (max-width: 1024px) {
   
     .service__box {
       padding: 32px;
     }
}

@media only screen and (max-width: 768px) {
   .row {
      display: flex;
      height: 100%;
      flex-wrap: wrap;
      overflow: hidden;
      align-items: flex-start;
      justify-content: center;
   }
   .col__3 {
      max-width: 400px;
      display: flex;
      padding: 10px;
      margin-top: 30px;
   }

   
}
   



